<header class="l-header">
  <h1 class="logo">
    <a href="/">
      <img src="/images/logo.svg" alt="ロゴ">
    </a>
  </h1>
  <!-- /.logo -->

  <nav class="nav">
    <ul class="nav__inner">
      <li class="nav__item">
        <a href="" aria-current="false">HOME</a>
      </li>
      <li class="nav__item">
        <a href="" aria-current="true">ABOUT</a>
      </li>
      <li class="nav__item">
        <a href="" aria-current="false">WORKS</a>
      </li>
    </ul>
  </nav>
</header>
<!-- /.l-header -->
