/* ====================
--- > .btn
==================== */
.btn {
  display: block;
  width: 400px;
  padding: 10px 0;
  border: 2px;
  font-weight: bold;
  text-align: center;

  &:hover {
    color: white;
  }

  &__basic {
    color: tomato;
    border-style: solid;

    &:hover {
      background: tomato;
    }
  }

  &__alert {
    color: red;
    border-style: dotted;

    &:hover {
      background: red;
    }
  }
}
