/* ====================
--- > .nav
==================== */
.nav {
  &__inner {
    display: flex;
  }

  &__item {
    margin-left: 10px;
    font-weight: bold;

    a[aria-current='true'],
    a:hover {
      color: tomato;
    }
  }
}
