/* ====================
--- > .ttl
==================== */
.ttl {
  color: tomato;
  font-weight: bold;

  &__lev1 {
    margin: 20px 0;
    padding: 0 5px;
    border-left: 5px solid;
    font-size: 24px;
  }

  &__lev2 {
    margin: 10px 0;
    font-size: 20px;
  }

  &__lev3 {
    margin: 5px 0;
    font-size: 16px;
  }
}
