<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <title>{{ _target.label }} | コンポーネント一覧</title>
</head>
<body>
  {{{ yield }}}
</body>
</html>